[submodule "elf"]
	path = elf
	url = git@github.com:elfjs/elf.git
[submodule "jslib"]
	path = jslib
	url = git@github.com:elfjs/jslib.git
[submodule "builder"]
	path = builder
	url = git@github.com:elfjs/jslib-builder.git
[submodule "elfjs.github.com"]
	path = elfjs.github.com
	url = git@github.com:elfjs/elfjs.github.com.git
[submodule "tools/dwarf"]
	path = tools/dwarf
	url = git@github.com:mytharcher/dwarf
[submodule "tools/ext-doc"]
	path = tools/ext-doc
	url = git@github.com:mytharcher/ext-doc.git
[submodule "eui"]
	path = eui
	url = git@github.com:elfjs/eui.git
